/* Reset some default styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; /* Gap between the cards */
}

.anime-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
}

.anime-card img{
  height: auto;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: #fff;
}
